<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <!--<add key="Lucene.NET" value="https://www.myget.org/F/lucene-net/api/v3/index.json" />-->
    <add key="Lucene.NET" value="https://www.myget.org/F/lucene-net/api/v2" />    
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>  
</configuration>