<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.2883.1552" targetFramework="net452" />
  <package id="cef.redist.x86" version="3.2883.1552" targetFramework="net452" />
  <package id="CefSharp.Common" version="86.0.241" targetFramework="net452" />
  <package id="CefSharp.Wpf" version="55.0.0" targetFramework="net452" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net452" />
  <package id="DocuPanel" version="0.3.0" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net452" />
  <package id="ICU4NET-ICU4C55.1-bin32" version="1.0.0" targetFramework="net452" />
  <package id="Lucene.Net" version="4.8.0.770-beta" targetFramework="net452" />
  <package id="Lucene.Net.Analysis.Common" version="4.8.0.770-beta" targetFramework="net452" />
  <package id="Lucene.Net.Misc" version="4.8.0.770-beta" targetFramework="net452" />
  <package id="Lucene.Net.Queries" version="4.8.0.770-beta" targetFramework="net452" />
  <package id="Lucene.Net.QueryParser" version="4.8.0.770-beta" targetFramework="net452" />
  <package id="Lucene.Net.Suggest" version="4.8.0.770-beta" targetFramework="net452" />
  <package id="MarkdownDeep.NET" version="1.5" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Prism.Core" version="6.2.0" targetFramework="net452" />
  <package id="Prism.Wpf" version="6.2.0" targetFramework="net452" />
  <package id="reactiveui-core" version="6.4.0" targetFramework="net452" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net452" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net452" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net452" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net452" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net452" />
  <package id="Rx-XAML" version="2.2.5" targetFramework="net452" />
  <package id="Splat" version="1.6.0" targetFramework="net452" />
  <package id="System.Collections.Immutable" version="1.2.0" targetFramework="net452" />
</packages>